.loader{
    margin-top: 100px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px dashed #F17900;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

