@import url("https://fonts.cdnfonts.com/css/lexend-deca");
.searchContainer {
  padding: 120px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  color: #393939;
  max-width: 684px;
  margin-bottom: 72px;
}

.titleSpan {
  color: #f17900;
}

.descTop {
  margin-top: 120px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color:#E0A449;
}

.descBot {
  font-family: "Lexend Deca", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin-bottom: 40px;
}
