.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 120px;
  width: 80%;
  max-width: 762px;
}

.input {
  width: 762px;
  height: 64px;
  padding: 16px;
  border-radius: 16px;
}

.searchBtn {
  position: absolute;
  right: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
}
