.descTop {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #e0a449;
}

.descBot {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
